{{> background}}
{{> header}}

<main class="flex-container">
  {{> loading}}
  <div class="puppet-num invisible">{{game.puppetNum}}</div>
  <p id="score">Score: 0</p>

  <div class="card-area card-area-{{game.level}}">
    {{#each game.cards}}
    <div class="card card-{{../game.level}}">
      <div class="card-inner card-back"></div>
      {{#if front.name}}
      <div class="card-inner card-front" data-randnum={{this.randNum}}>{{this.front.name}}</div>
      {{else}}
      <div class="card-inner card-front" data-randnum={{this.randNum}}>
        <img src="{{this.front.image}}" alt="正面圖">
      </div>
      {{/if}}
    </div>
    {{/each}}
  </div>

  {{!-- Gameover Modal --}}
  <div id="gameover-modal" class="modal">
    <div id="gameover-modal-content" class="modal-content"></div>
  </div>

</main>

{{> footer}}

<script src="gamesettings.js" type="text/javascript"></script>
<script src="game.js" type="text/javascript"></script>